.items {
  border: 1px solid lightblue;
  background-color: lightslategray;
}
.board {
  background-color: lightpink;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(36, 35, 35);
  color: rgb(196, 185, 185);
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blocker {
  width: 100%;
  height: 1000px;
  background-color: rgba(134, 17, 17, 0.938);
}
.Goodbye {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.playagain {
  font-size: 1rem;
  font-family: helvetica, sans-serif;
  position: absolute;
  top: 20px;
  right: 20px;
}
.playagain:hover {
  font-size: 1.01rem;
  color: rgb(209, 209, 24);
}
.zindex {
  z-index: -2;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.container h3 {
  text-align: center;
}
.container input {
  margin: 10px;
}
.human {
  /* background-color: red; */
  text-align: center;
}
.comp {
  /* display: flex;
  justify-content: center; */
}
/* .human {
  position: absolute;
  top: 45%;
  left: 50%;
}
.comp{
  position: absolute;
  top: 45%;
  left: 50%;
} */
